.top-nav{
background:rgb(29, 7, 88);
position:fixed;
width:100%;
top:0px;
left:0px;
padding:15px;
}

.main-nav{
 background:rgb(14, 3, 3);
 padding:10px;
 display:flex;
 justify-content: space-between;
 position:fixed;
 width:100%;
 top:30px;
 left:0px;
 box-sizing:border-box;/*widthにpadding border含めて　という指定*/
}

.emblem{
	width: 50px;
	margin-left:40px;
}

main{
	margin-top:100px;
}

button{
    background:none;
    border:none;
}

button span{
    display:block;
		/*Aー ー ーをー
	       	 　　　ー
				 	　　　 ー
		に変えるためのblock*/
    width:42px;
    height:6px;
    background:rgba(252, 252, 249, 0.897);
		margin:5px 0;
}

.menu{
	display:none;
	position:fixed;
	top:100px;
	right:0;
	background:rgb(211, 193, 193);
	width:200px;
}

.menu a{
	display:block;
	padding:20px;
	color:black;
	text-decoration:none;
	border-bottom:2px solid black;
}

.menu.open{
	display:block;
}
/*menu displya:none を openになったときにblockに変更する*/


.player{
	text-align:center;
}

.Kousuke-card{
	background:white;
	border:1px solid black;
	border-radius:10px;
	height:400px;
	width:400px;
	text-align: center;
	display: flex;/*!注*/
  justify-content: center;
  align-items: flex-end;
	transition: transform 0.3s ease;/*!注*/
}

/*!注*/
.Kousuke-card:hover {
  transform: scale(1.05);
}

.Kousuke-number{
	color:black;
	margin-right:20px;
	font-size:50px;
}

.Kousuke_name_positon{
	display:flex;
	flex-direction:column;
}

.Kousuke-name{
	color:black;
	font-size:40px;
	text-align:center;
}

.Kousuke-positon{
	color:black;
	font-size:20px;
}

.Takashi-card{
	background:white;
	border:1px solid black;
	border-radius:10px;
	height:400px;
	width:400px;
	text-align: center;
	display: flex;/*!注*/
	justify-content: center;
	align-items: flex-end;
	transition: transform 0.3s ease;/*!注*/
}

/*!注*/
.Takashi-card:hover {
  transform: scale(1.05);
}

.Takashi-number{
	color:black;
	margin-right:20px;
	font-size:50px;
}

.Takashi_name_positon{
	display:flex;
	flex-direction:column;
}

.Takashi-name{
	color:black;
  font-size:40px;
	text-align:center;
}

.Takashi-positon{
	color:black;
	font-size:20px;
}



/*
TODO
・🌟🌟🌟🌟🌟ノートを買って学んだコードをノートに書きだしてインプットする！
・🌟🌟🌟各選手の情報をインプットする
　・トップページと同じナビバーを付ける！
・🌟ポジションごとに分けない
!jutify-content align-items ➡ 中にある子要素を配置する為のcss
!transition: transform 0.3s ease;
!transform: scale(1.05);
!HTMLでは、基本的に**<a>の中に<a>を入れることはできません
!ハイパーリンク作成時の下線の削除を暗記する
*/
